.App {
  text-align: center;
  background-color: #e8f0f2;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 40px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/***********************************************************/
/*              Social media Post                          */
/***********************************************************/
.container{
  background-color: #74eafc;
  box-shadow: 5px 5px 5px #aaaaaa;
  text-align: center;
  width: 40%;
  border: 1px solid #d7ecef;
  border-radius: 3px;
  padding: 5px;
  margin-top: 20px;
}
.iconUser{
  position: relative;
}
.user{
  float: left;
  border-radius: 50%;
  border: 2px solid white;
  width:40%;
}
h1{
  text-indent: -200px;
  display:inline-flex;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 25px;
  margin-top: 5px;
  margin-right: -90px;
  color: black;
}
.imgCap{
  border-radius: 6px;
  float: right;
  width:85%;
  background-color: white;
  text-align: left;
}
.imgPost{
  border-radius: 6px;
  border: 2.5px solid white;
  width: 100%;
  align-content: center;
}
.capHeader{
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  margin-bottom: -15px;
  text-indent: 5px;
}
.caption{
  margin-left: 5px;
  font-size: 13px;
  font-family: georgia;
}
ul{
  list-style-type: none;
}
