<html>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    html{
      background-color: #dddddd;
    }
    head{
      background-color: white;
    }
    h1{
      align-content: center;
      margin: auto;
      font-family:monospace;
      color: black;
      font-size: 30px;
      max-width: 400px;
      margin: auto;
      padding-left: 20px;
    }
    body{
      padding-top:50px;
     }
     ul{
       margin-top: 11%;
       align-content: center;
       color: black;
     }
     li{
       margin-top: 5%;
       color:green;
       font-size: 20px;
     }
     .container2{
       margin-top: 20px;
       max-width: 400px;
       border-width: 1px;;
       border-radius: 2px;
       margin-left: 37%;
     }
     .container{
       margin-top: 20px;
       max-width: 400px;
       border-width: 1px;;
       border: yellow;
       border-radius: 2px;
       border-style: ridge;
       background-color: #262525;
     }
     h3{
       color: white;
     }

     a{
       color:white;
     }

</style>


<body>
    <h1> CAR INFO </h1>
<div class ="container">
    <h3> <%=name%> </h3>
    <h3> <%=year%> </h3>
  </div>
</body>
</html>
